{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<div class="container-fluid homepage-cover">
		<div class="slider-overlay" style="background: rgba(0, 0, 0, 0.4) url('/assets/images/slide-dot.png');">
			<div class="slide-wrap">
				<div class="container">
					<div class="row">
						<div class="col-6 text-center">
							<div class="slide-content">
							<h1 class="h3 mb-3 font-weight-normal">Se connecter</h1>
							<p>Modèles de lettre, envoi en recommandé, suivi en ligne</p>
							</div>
						</div>
						<div class="col-6">

							<form method="post" class="text-left">
								{% if error %}
									<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
								{% endif %}

								{% if app.user %}
									<div class="mb-3">
										You are logged in as
										{{ app.user.userIdentifier }},
										<a href="{{ path('app_logout') }}">Logout</a>
									</div>
								{% endif %}

								<div class="mb-3">
									<label class="form-label" for="inputEmail">Email</label>
									<input class="form-control" type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
								</div>
								<div class="mb-3">
									<label for="inputPassword">Password</label>
									<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
								</div>
								<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
								<div class="checkbox mb-3">
									<label>
										<input type="checkbox" name="_remember_me">
										Remember me
									</label>
								</div>

								<button class="btn btn-lg btn-primary" type="submit">
									Sign in
								</button>
								<a class="btn btn-lg btn-info" href="{{path('app_register')}}">
									Sign up
								</a>								
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1600 35" preserveAspectRatio="none" class="curve-2">
		<path class="shape" d="M668.5,20s-85.917-4.376-250-14.5C38.888-17.922-70.537,46.862-94,42c-25.429-5.269,79-6,79-6l1631-1-1-6.5s143.44,9.072-5.5,1.5C1470.9,22.954,1412.99-.574,1137,20,936.22,34.967,668.5,20,668.5,20Z"/>
	</svg>
	<div class="section-area">
	</div>

{% endblock %}
