{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<div class="container-fluid homepage-cover ">
		<div class="slider-overlay" style="background: rgba(0, 0, 0, 0.4) url('/assets/images/slide-dot.png');">
			<div class="slide-wrap">
				<div class="container">
					<div class="row">
						<div class="col-6 text-center">
							<div class="slide-content">
							<h1 class="h3 mb-3 font-weight-normal">S'inscrire</h1>
							<p>Modèles de lettre, envoi en recommandé, suivi en ligne</p>
							</div>
						</div>
						<div class="col-6">
							{{ form_start(registrationForm) }}
								<div class="register-field">
									{{ form_row(registrationForm.email) }}
								</div>
								<div class="register-field">
									{{ form_row(registrationForm.plainPassword, {
										label: 'Password'
									}) }}
								</div>
								<div class="register-field connexion-gestion">
									{{ form_row(registrationForm.agreeTerms) }}
									<div class="les-boutons">
										<button class="btn btn-primary" type="submit">
											Register
										</button>
									</div>
							{{ form_end(registrationForm) }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1600 35" preserveAspectRatio="none" class="curve-2">
		<path class="shape" d="M668.5,20s-85.917-4.376-250-14.5C38.888-17.922-70.537,46.862-94,42c-25.429-5.269,79-6,79-6l1631-1-1-6.5s143.44,9.072-5.5,1.5C1470.9,22.954,1412.99-.574,1137,20,936.22,34.967,668.5,20,668.5,20Z"/>
	</svg>
	<div class="section-area">
	</div>
{% endblock %}
