{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<div class="container-fluid bg-color-primary d-grid justify-content-md-end justify-content-center align-items-center">
		<div class="container-form-login bg-gradient-beige text-gris shadow">
			<h1 class="h3 mb-3 font-weight-normal">Register</h1>
			{{ form_start(registrationForm) }}
				<div class="register-field">
					{{ form_row(registrationForm.email) }}
				</div>
				<div class="register-field">
					{{ form_row(registrationForm.plainPassword, {
						label: 'Password'
					}) }}
				</div>
				<div class="register-field connexion-gestion">
                    {{ form_row(registrationForm.agreeTerms) }}
                    <div class="les-boutons">
                        <button class="button btn-gradient-orange" type="submit">
							Register
                        </button>
                    </div>
			{{ form_end(registrationForm) }}
		</div>
	</div>
{% endblock %}
