{% extends 'base.html.twig' %}

{% block title %}
	Résiliation
	{{category}}
{% endblock %}

{% block javascripts %}
	{{parent()}}
	<link href="{{asset('assets/css/jquery.steps.css')}}" rel="stylesheet">
{% endblock %}


{% block body %}
	<div class="container-fluid px-0 py-5 {% if template == 'design2' %} bg-marbre-blanc {% else %} bg-color-primary {% endif %}">
		<div class="">
			<div class="max-width-content mx-auto">
				<h1 class="h3 py-3 font-weight-normal text-center text-beige">Lettre de résiliation - {{category}}</h1>
				<div class="wizard">
					<div class="bg-gradient-beige content d-grid align-items-center">
						<div class="row flex-md-row flex-column-reverse mx-0">
							<div class="col-md px-0 d-flex flex-md-column justify-content-center align-items-center">
								<a href="{{ path('app_resiliation_preview_doc', {'customId': resiliation.customId})}}" class="button btn-gradient-orange" target=_blank >Aperçu <i class='fa-solid fa-file-pdf'></i></a><br>
								<a href="{{ path('app_resiliation_preview', {'customId': resiliation.customId})}}" class="button btn-gradient-beige">Modifier <i class='fa-solid fa-edit'></i></a><br>
								<a href="{{ path('app_maileva_send', {'customId': resiliation.customId})}}" class="button btn-gradient-primary">Envoyer <i class="fa-regular fa-paper-plane"></i></a><br>
							</div>
							<div class="col-md d-flex px-0 ">
								<img class="img-fluid px-2 my-2" src="{{ asset('assets/images/Stripe_payment_form.png')}}" alt="stripe">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block jsFooter %}
	<script src="{{asset('assets/js/jquery.min.js')}}"></script>
	<script src="{{asset('assets/js/jquery.steps.min.js')}}"></script>
	<script src="{{asset('assets/js/jqueryValidate.js')}}"></script>
	<script src="{{asset('assets/js/main.js')}}"></script>
	<script>

		$(function () {

            initFormStep(
                $("#example-basic"),
                "h3",
                "fieldset",
                "fade"
            );
			
			var data = $('#resiliation_form_type').data('letters');

			$('#resiliation_form_number').blur(function (e) {
				var number = $(this).val() 
				var content = $('#resiliation_form_description').text()
				content = content.replace('[ mobile-identifiant ]', number)
				$('#resiliation_form_description').html(content)
			});

			$(document).on('change', '.form-check', function (e) {
				e.preventDefault()
				var ref = $(this).children('input').data('service')
				var services = $('#collapseTwo').data('services');
				var addressService = services[ref]
				$('#select-service').html(addressService.name + '<i class="fa-solid fa-circle-chevron-down mx-2"></i>')
				$('input#resiliation_form_service_name').val(addressService.name)
				$('input#resiliation_form_service_address').val(addressService.address)
				$('input#resiliation_form_service_complement').val(addressService.complement)
				$('input#resiliation_form_service_zipCode').val(addressService.zipCode)
				$('input#resiliation_form_service_city').val(addressService.city)

				$('.modal').modal('hide');
			});

			$('#resiliation_form_description').html(data[1].content)

			$('#resiliation_form_type').on('change', function (e) {
				var Value = $(".ancientitulaire").find(":selected").val();
				$('#resiliation_form_description').text(data[Value].content)
			})
		})
	</script>
{% endblock %}
