{% extends 'base.html.twig' %}

{% block title %}
	Résiliation
	{{category}}
{% endblock %}

{% block javascripts %}
	{{parent()}}
	<link href="{{asset('assets/css/jquery.steps.css')}}" rel="stylesheet">
{% endblock %}


{% block body %}
	<div class="container-fluid px-0 py-5 {% if template == 'design2' %} bg-marbre-blanc {% else %} bg-color-primary {% endif %}">
		<div class="">
			<div class="max-width-content mx-auto">
				<h1 class="h3 py-3 font-weight-normal text-center text-beige">Lettre de résiliation - {{category}}</h1>
				<div class="wizard">
					<div class="content">
					{{ form_start(form, {'attr': {'id': 'order'}}) }}
					<div class="row">
						<div class="col-6">
							<div class="row mt-3">
								<div class="col-4">
									<img src="{{ asset('assets/images/thumbail-doc.png')}}" alt="miniature" class="img-fluid mx-3">
								</div>
								<div class="col-8 px-3">
								<p><strong>{{category}}</strong></p>
								<p class="text-muted"><smal>Résiliation d'un abonnement téléphonique {{resiliation.service.name}}</smal></p>
									<a href="{{ path('app_resiliation_preview_doc', {'customId': resiliation.customId})}}" class="" target=_blank ><i class='fa-solid fa-file-pdf'></i> Aperçu</a><br>
									<a href="{{ path('app_resiliation_preview', {'customId': resiliation.customId})}}" class=""><i class='fa-solid fa-edit'></i> Modifier </a><br><br>
									{{ form_row(form.sendedAt)}}
								</div>
									{# {{ form_row(form.option1)}}
									{{ form_row(form.option2)}} #}
							</div>
						</div>
						<div class="col-6 bg-white">
							<h1 class="h2 mt-3">Recapitulatif</h1>
							<div class="row mt-4">
								<div class="col-8">
									<p class="text-gray">Envoi en recommandé AR x1</p>								
								</div>
								<div class="col-4">7.90€</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-8"><strong>Total</strong></div>
								<div class="col-4"><strong>7.99 €</strong></div>
							</div>
							{% if envoi is not null %}
							<a href="{{ path('app_stripe_payment', {'customId': resiliation.customId})}}" class="btn btn-primary btn-md px-2 my-5 mx-auto">Procéder au paiement 7.99 €<i class='fa-solid fa-send'></i></a><br>
							{% else %}
							<a href="{{ path('app_maileva_send', {'customId': resiliation.customId})}}" class="btn btn-primary btn-md px-2 my-5 mx-auto">Procéder au paiement 7.99 €<i class='fa-solid fa-send'></i></a><br>
							{% endif %}
							<p><small class="text-muted">Par votre commande, vous acceptez nos conditions générales de vente et notre politique de protection des données personnelles.</small></p>
							<p><small class="text-muted">Dès que vous avez choisi votre moyen de paiement, vous serez redirigé vers le formulaire sécurisé de Paypal ou Payplug. Pour garantir la confidentialité de la transaction, les informations transmises sont cryptées et protégées via le protocole HTTPS.</small></p>
						</div>
					</div>
					{{ form_end(form) }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block jsFooter %}
	<script src="{{asset('assets/js/jquery.min.js')}}"></script>
	<script src="{{asset('assets/js/jquery.steps.min.js')}}"></script>
	<script src="{{asset('assets/js/jqueryValidate.js')}}"></script>
	<script src="{{asset('assets/js/main.js')}}"></script>
	<script>

		$(function () {

            initFormStep(
                $("#example-basic"),
                "h3",
                "fieldset",
                "fade"
            );
			
			var data = $('#resiliation_form_type').data('letters');

			$('#resiliation_form_number').blur(function (e) {
				var number = $(this).val() 
				var content = $('#resiliation_form_description').text()
				content = content.replace('[ mobile-identifiant ]', number)
				$('#resiliation_form_description').html(content)
			});

			$(document).on('change', '.form-check', function (e) {
				e.preventDefault()
				var ref = $(this).children('input').data('service')
				var services = $('#collapseTwo').data('services');
				var addressService = services[ref]
				$('#select-service').html(addressService.name + '<i class="fa-solid fa-circle-chevron-down mx-2"></i>')
				$('input#resiliation_form_service_name').val(addressService.name)
				$('input#resiliation_form_service_address').val(addressService.address)
				$('input#resiliation_form_service_complement').val(addressService.complement)
				$('input#resiliation_form_service_zipCode').val(addressService.zipCode)
				$('input#resiliation_form_service_city').val(addressService.city)

				$('.modal').modal('hide');
			});

			$('#resiliation_form_description').html(data[1].content)

			$('#resiliation_form_type').on('change', function (e) {
				var Value = $(".ancientitulaire").find(":selected").val();
				$('#resiliation_form_description').text(data[Value].content)
			})
		})
	</script>
{% endblock %}
