{% extends 'base.html.twig' %}

{% block title %}
	Résiliation
	{{category}}
{% endblock %}

{% block javascripts %}
	{{parent()}}
	<link href="{{asset('assets/css/jquery.steps.css')}}" rel="stylesheet">
    <link href="{{asset('assets/css/main.css')}}" rel="stylesheet">
{% endblock %}


{% block body %}
	<div class="container-fluid px-0 py-5 {% if template == 'design2' %} bg-marbre-blanc {% else %} bg-color-primary {% endif %}">
		<div class="">
			<div class="max-width-content mx-auto">
				<h1 class="h3 py-3 font-weight-normal text-center text-beige">Lettre de résiliation - {{category}}</h1>
				<div class="wizard">
					<div class="content">
                        <div class="row">
                            <div class="col-6 text-center">
                                <a href="{{ path('app_resiliation_preview_doc', {'customId': resiliation.customId})}}" class="btn btn-outline-primary px-2 my-2" target=_blank >Aperçu <i class='fa-solid fa-file-pdf'></i></a><br>
                                <a href="{{ path('app_resiliation_preview', {'customId': resiliation.customId})}}" class="btn btn-outline-secondary px-2 my-2">Modifier <i class='fa-solid fa-edit'></i></a><br>
                                <a href="{{ path('app_maileva_send', {'customId': resiliation.customId})}}" class="btn btn-outline-info btn-md px-2 my-2">Procéder au paiement <i class='fa-solid fa-send'></i></a><br>
                                <a href="{{ path('app_stripe_payment', {'customId': resiliation.customId})}}" class="btn btn-outline-info btn-md px-2 my-2">Payer <i class='fa-solid fa-send'></i></a><br>
                            </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}