{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
<style>
    body{
        overflow-y: scroll;
        scrollbar-width: unset;
    }
    body::-webkit-scrollbar{
        width: unset;
    }
    body::-webkit-scrollbar-thumb{
        background: #808080;
    }
    body::-webkit-scrollbar-button {
        display: block;
        background-color: #808080;
        background-repeat: no-repeat;   
        background-size: 50%;
        background-position: center;
    }
    body::-webkit-scrollbar-button:vertical:start:increment {
        background-image: url('https://upload.wikimedia.org/wikipedia/commons/7/7e/Chevron-up.svg');   
    }
    body::-webkit-scrollbar-button:vertical:start:decrement {
        display: none;
    }
    body::-webkit-scrollbar-button:vertical:end:increment {
        display: none;
    }
    body::-webkit-scrollbar-button:vertical:end:decrement {
        background-image: url('https://upload.wikimedia.org/wikipedia/commons/e/ee/Chevron-down.svg');   
    }
    .body-template > .container-fluid{
        height: unset;
    }
</style>

<div class="container-fluid bg-white p-0 d-block">
    <div class="banner">
        <div class="vh-100 w-100 d-grid align-items-center justify-content-center">
            <h1> 
                <a href="{{path('app_blog')}}">Blog</a>
                <i class="fa-regular fa-chevron-right"></i>
                <span class="category-title">{{ category.nom }}<span>
            </h1>
        </div>
    </div>
    <div class="blog d-grid">

        <div>
            {% include "sidebarBlog.html.twig" %}
        </div>

        <div class="blog-container ps-lg-3 ps-0">

            {% for post in posts %}

                <div class="post-container p-3 my-3 border">
                    <a href="{{ path('post_show', {'slug':post.slug}) }}" class="post-title h2 text-blue">{{ post.titre }}</a>
                    <div>
                        <span> {{ post.createdAt | date('d/m/Y') }} <span>
                    </div>
                    <div class="post-content">
                        {{ post.subContenu }}
                    </div>
                    <div class="d-grid pt-3 pe-3 justify-content-end">
                        <a href="{{ path('post_show', {'slug':post.slug}) }}" class="button-small btn-gradient-orange">
                            Continuer la lecture
                        </a>
                    </div>
                </div>
                
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
{% block jsFooter %}
    <script src="{{asset('assets/js/sidebar.js')}}"></script>
    <script>
        $(function(){
            $(document).ready(function(){
                if (!$(".navbar").hasClass("nav-scroll")){
                    console.log('pas de nav-scroll')
                    $(".navbar").addClass("nav-scroll");
                }
                showCurrent();
            });
        })
    </script>
{% endblock %}
