{% if not menu is defined %}
    {% set menu = '' %}
{% endif %}

<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{path('app_home')}}">
            <img src="{{asset('assets/images/cropped-logo.png')}}" class="" alt="Comment résilier Logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0 mr-lg-5">
                <li class="nav-item">
                    <a class="nav-link {% if menu == 'accueil' %}active{% endif %}" href="{{path('app_home')}}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if menu == 'howItWorks' %}active{% endif %}" href="{{path('app_how_it_work')}}">Comment ça marche?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if menu == 'resiliationFacile' %}active{% endif %}" href="{{path('app_resiliation_facile')}}">Résiliation facile</a>
                </li>
            </ul>
        </div>
        <div class="btn-user">
            {% if app.user %}
                <a class="btn btn-primary" href="{{path('app_logout')}}">Se déconnecter</a>
            {% else %}
                <a class="btn btn-primary" href="{{path('app_login')}}">Se connecter</a>
            {% endif %}
        </div>
    </div>
</nav>