{% if not menu is defined %}
    {% set menu = '' %}
{% endif %}

<nav class="navbar navbar-expand-md navbar-light bg-light2 shadow-night-blue">
    <div class="container-fluid position-relative">
        <a class="navbar-brand" href="{{path('app_home')}}">
            <img src="{{asset('assets/images/cropped-logo.png')}}" class="" alt="Comment résilier Logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            {#<span class="navbar-toggler-icon"></span>#}
            <img src="{{asset('assets/images/list.svg')}}" alt="humgurger-menu">
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-blue mb-2 mb-md-0 mr-lg-5">
                <li class="nav-item">
                    <a class="nav-link {% if menu == 'accueil' %}active{% endif %}" href="{{path('app_home')}}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if menu == 'howItWorks' %}active{% endif %}" href="{{path('app_how_it_work')}}">Comment ça marche?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if menu == 'resiliationFacile' %}active{% endif %}" href="{{path('app_resiliation_facile')}}">Résiliation facile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if menu == 'blog' %}active{% endif %}" href="{{path('app_blog')}}">Blog</a>
                </li>
            </ul>
        </div>
        <div class="btn-user">
            {% if app.user %}
                <a class="button btn-night-blue" href="{{path('app_logout')}}">
                    <span class="d-none d-lg-inline">Se déconnecter</span>
                    <img src="{{asset('assets/images/logOut.png')}}" class="" alt="logout icon">
                </a>
            {% else %}
                <a class="button btn-night-blue" href="{{path('app_login')}}">
                    <span class="d-none d-lg-inline">Se connecter</span>
                    <img src="{{asset('assets/images/logIn.png')}}" class="" alt="login icon">
                </a>
            {% endif %}
        </div>
    </div>
</nav>